html {
  font-size: 18px;
}

body {
  padding-top: 55px;
}

/** Navbar and header stuff **/

.navbar-brand img {
  position: relative;
  bottom: 10px;
  right: 5px;
}

.title {
  font-family: "Cousine";
  font-size: 2.5rem;
}

.color {
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 2.5rem;
}

.hover-li:hover {
  background-color: lightgray;
}

/** Main Sections for page (i.e. Legal Status) **/

.header {
  width: 100%;
  border: 2px solid #cbcbcb;
  background-color: #ededed;
  font-family: 'Permanent Marker';
  text-align: center;
  margin: 15px 0 !important;
}

.flex-div {
  display: flex;
  justify-content: center;
}

.div-text {
  font-family: "Handlee";
  font-size: 2.2rem;
  width: 900px;
  text-align: center;
  margin-top: 25px;
  margin-left: 250px;
  line-height: 1.5;
}

/** Fotter **/

.footer {
  border-top: 2px solid black;
  background-color: #ededed;
  margin-top: 15px;
}

.footer p {
  margin-top: 20px;
  padding-bottom: 20px;
}

.footer-div {
  width: 50% !important;
  background-color: #ededed;
}

.left {
  float: left;
}

.float {
  float: right;
}


/** Media Queries **/

@media screen and (min-width: 1500px) and (max-width: 2000px) {
  .div-text {
    margin-left: 500px;
  }

  p.names {
    padding-bottom: 165px !important;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1349px) {
  .div-text {
    margin-left: 50px;
  }

  p.names {
    padding-bottom: 304px !important;
  }
}
