html {
  font-size: 18px;
}

body {
  padding-top: 55px;
}

/** Navbar and header stuff **/

.navbar-brand img {
  position: relative;
  bottom: 10px;
  right: 5px;
}

.title {
  font-family: "Cousine";
  font-size: 2.5rem;
}

.color {
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 2.5rem;
}

.hover-li:hover {
  background-color: #ededed;
}

.width-100 {
  width: 100%;
  margin: 15px 0 !important;
}

/** Slick containers **/

.slick-container {
  margin: 0 auto;
  padding: 40px;
  width: 90%;
  color: #333;
  background: rgba(196, 213, 47, 0.43);
  padding: 25px 30px !important;
}

div.slick-slide.slick-current.slick-active {
  height: 500px;
}

div.slick-list.draggable {
  height: 500px;
}

.slick-slide {
  text-align: center;
  color: black;
  background: white;
}

/** Images for cartoons **/

.carousel-image-1 {
  margin-left: 10px;
  width: 35%;
  margin-top: 15px;
}

.carousel-image-2 {
  margin-left: 10px;
  margin-top: 25px;
}

.carousel-image-3 {
  width: 50%;
  margin-top: 35px;
  margin-left: 10px;
}

.carousel-image-4 {
  width: 42.5%;
  margin-left: 10px;
  margin-top: 35px;
}

/** Text for Cartoons **/

.carousel-text-1 {
  float: right;
  width: 450px;
  position: relative;
  right: 125px;
  bottom: 400px;
  font-family: "Handlee";
  font-size: 2.2rem;
}

.carousel-text-2 {
  float: right;
  position: relative;
  width: 400px;
  font-size: 2rem;
  font-family: "Handlee";
  right: 50px;
  bottom: 400px;
}

.carousel-text-3 {
  float: right;
  position: relative;
  font-size: 2rem;
  width: 450px;
  font-family: "Handlee";
  right: 65px;
  bottom: 300px;
}

.carousel-text-4 {
  float: right;
  position: relative;
  font-family: "Handlee";
  font-size: 2rem;
  width: 450px;
  right: 100px;
  bottom: 350px;
}

/** Video Text **/

.video-text{
  width: 350px;
  position: relative;
  right: 50px;
  top: 60px;
  font-family: "Handlee";
  font-size: 2rem;
}

/** Footer **/

.footer {
  border-top: 2px solid black;
  background-color: #ededed;
}

.footer p {
  margin-top: 20px;
  padding-bottom: 20px;
}

.footer-div {
  width: 50% !important;
  background-color: #ededed;
}

/** Media Queries **/

@media screen and (min-width: 1500px) and (max-width: 2000px) {
  p.names {
    padding-bottom: 365px !important;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1499px) {
  .carousel-image-1 {
    margin-top: 50px;
  }

  .carousel-text-1 {
    right: 50px;
    bottom: 350px;
  }

  .carousel-text-2 {
    width: 280px;
    right: 10px;
    font-size: 1.9rem;
  }

  .carousel-text-3 {
    width: 400px;
    right: 20px;
  }

  .carousel-text-4 {
    right: 50px;
    bottom: 300px;
  }

  .video-text {
    right: 7px;
    top: 30px;
    width: 250px;
  }

  p.names {
    padding-bottom: 545px !important;
  }
}
